body{
    background: pink;
    color: rgb(121, 60, 121);
      font-family: "Playfair Display", serif;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 700px;
      margin: 0;
}

button{
    background-color: palevioletred;
    color: rgb(139, 86, 139);
      font-family: "Playfair Display", serif;
}