body{
    background: rgb(240, 163, 175);
    color: rgb(32, 11, 29);
      font-family: "Playfair Display", serif;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 700px;
      margin: 0;
}

button{
    background-color: palevioletred;
    color: rgb(56, 1, 56);
      font-family: "Playfair Display", serif;
}

.passo{
  display: none;
}

.passo.ativo{
  display:block;
}